* {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: blue;
  width: 1000px;
  height: 600px;
}

.red {
  background-color: red;
  width: auto;
  height: 300px;
  position: relative;
  top: 150px;
}

div img {
  width: 350px;
  height: 230px;
  position: relative;
  top: 30px;
  left: 340px;
}
